
/*general*/

body{
    background-color: rgb(83, 81, 81);
}
.bandeau{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 12vh;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.bandeau p{
    margin: auto;
    font-size: 3vh;
}
.form{
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin: auto;
}
.form input{
    width: 150px;
    height: 80px;
    background-color: rgb(167, 167, 70);
    font-size: 20px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border: solid 1px rgba(0,0,0,0.3);
}
.form input:hover{
    transition: 100ms;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    border: none;
    color: rgb(0, 0, 0, 0.9);
    background-color: rgb(167, 167, 70, 0.8);
}

/*index.php*/

.choice{
    display:flex;
    align-items:center; 
    flex-direction: column;   
    transform: translateY(-50%);
    margin-top: 50vh;
    margin-bottom: -50vh;
}

/*result.php*/

.choiceIA{
    margin: auto;
    width: 50%;
    text-align: center;
}
.choiceIA img{
    margin-top: 15vh;
    position: relative;
}
.choiceIA p{
    font-size: 1.5em;
    color: white;
}
.result p{
    margin-bottom: 75px;
    margin-top: 8vh;
    text-align: center;
    font-size: 5vh;
    color: white;
}
#inputsResult{
    margin: auto;
    margin-top: -30px;
    width: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
}
#end{
    position: absolute;
    transform: translateX(-50%);
    top: 25vh;
    left: 50vw;
    width: 50%;
    height: 40%;
    background-color: rgba(250, 250, 250, 0.15);
    box-shadow: inset 0 0 1em #334, 0 0 2em red;;
    text-align: center;
}
#end p{
    position: relative;
    transform: translateY(-50%);
    top: 37%;
    font-size: 5vh;
    font-family: system-ui;
    color: rgba(250, 250, 250, 0.9);
}

/*responsive*/

@media screen and (max-width: 750px){
    .bandeau{
        flex-direction: column;
        height: 6em;
    }
    .choice{
        margin-bottom: -30vh;
    }
    .form{
        flex-direction:column;
        justify-content: space-between;
    }
    .choiceIA{
        margin: auto;
        width: 60%;
        margin-top: 20px;
    }
    .choiceIA img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .choiceIA p{
        text-align: center;
        font-size: 20px;
        color: white;
    }
    #inputsResult{
        position: absolute;
        width: 100vw;
        left: 0;
    }
}
